.footer {
  padding: 96px 0 42px;

  a {
    transition: all 0.2s;

    &:hover {
      color: $orange;
    }
  }

  .logo {
    margin-bottom: 52px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 62px;
    border-bottom: 1px solid rgba($white, 0.24);
  }

  &__network {
    @include relate;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border: 1px solid $gray-dark;
    border-radius: 50%;

    img {
      z-index: 10;
    }

    + .footer__network {
      margin-left: 16px;
    }

    &:hover {
      cursor: pointer;

      span {
        width: 130px;
        height: 130px;
      }
    }
  }

  &__main {
    ul {
      display: flex;
    }
  }

  &__menu {
    display: flex;
  }

  &__item {
    a {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
    }

    + .footer__item {
      margin-left: 48px;
    }
  }

  &__submenu {
    a {
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__thirdmenu {
    a {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 20px;
      color: $gray-medium;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    font-size: 12px;
    line-height: 20px;

    a {
      text-decoration: underline transparent;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      display: flex;

      li + li {
        margin-left: 24px;
      }

      li:first-child {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: -12px;
          top: 50%;
          width: 1px;
          height: 7px;
          background-color: rgba($white, 0.25);
          transform: translateY(-50%);
        }
      }
    }
  }

  &__by {
    a {
      display: inline-block;
      margin-left: 4px;
    }
  }
}