body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  background-color: $black;
  cursor: default;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;

  &::before,
  &::after {
    display: none;
  }

  &--header {
    padding: 0 40px;
    max-width: 1920px;
  }

  @include m(1400) {
    padding: 0 16px;
    max-width: 1232px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.04em;
}

h1 {
  font-size: 64px;
  line-height: 72px;

  @include m($xl) {
    font-size: 56px;
    line-height: 64px;
  }

  @include m($lg) {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  font-size: 56px;
  line-height: 64px;

  @include m($xl) {
    font-size: 48px;
    line-height: 56px;
  }

  @include m($lg) {
    font-size: 40px;
    line-height: 48px;
  }
}

h3 {
  font-size: 48px;
  line-height: 56px;

  @include m($xl) {
    font-size: 40px;
    line-height: 48px;
  }

  @include m($lg) {
    font-size: 32px;
    line-height: 40px;
  }
}

h4 {
  font-size: 40px;
  line-height: 48px;

  @include m($xl) {
    font-size: 32px;
    line-height: 40px;
  }

  @include m($lg) {
    font-size: 24px;
    line-height: 32px;
  }
}

h5 {
  font-size: 32px;
  line-height: 40px;

  @include m($xl) {
    font-size: 26px;
    line-height: 34px;
  }

  @include m($lg) {
    font-size: 20px;
    line-height: 28px;
  }
}

h6 {
  font-size: 24px;
  line-height: 32px;

  @include m($xl) {
    font-size: 20px;
    line-height: 28px;
  }

  @include m($lg) {
    font-size: 18px;
    line-height: 26px;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  width: fit-content;
  height: 56px;
  overflow: hidden;
  border-radius: 32px;
  font-weight: 600;
  transition: all 0.4s;

  img {
    margin-right: 8px;
  }
}

.section {
  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;

    h5 {
      padding-bottom: 8px;

      span {
        display: inline-block;
        margin-right: 16px;
      }
    }

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  &__title {
    p {
      margin-bottom: 8px;
      color: $gray;
    }
  }

  &__link {
    @include relate;

    position: relative;
    display: flex;
    align-items: center;
    padding: 0 50px 0 24px;
    height: 56px;
    overflow: hidden;
    border: 1px solid $gray-dark;
    border-radius: 32px;
    line-height: 1;

    &::after {
      content: url("../images/more-arrow.svg");
      position: absolute;
      right: 24px;
      top: 50%;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
    }

    p {
      z-index: 5;
      font-weight: 600;
    }

    &:hover {
      span {
        width: 350px;
        height: 350px;
      }
    }
  }
}

.logo {
  display: block;
}

.preview {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 40px 40px;

  &::before {
    content: url("../images/services-decor.svg");
    position: absolute;
    left: 8%;
    top: 10%;
    z-index: 0;

    @include m(1700) {
      left: -80px;
      top: 0;
      transform: scale(0.7);
    }

    @include m(1550) {
      left: -130px;
    }

    @include m(1400) {
      left: -200px;
    }

    @include m($xl) {
      left: -250px;
      top: -80px;
    }

    @include m($sm) {
      transform: scale(0.6);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 389px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &__head {
    z-index: 10;
  }

  p {
    margin-bottom: 8px;
    font-weight: 600;

    @include m($lg) {
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 80px;
    height: 500px;

    @include m($xl) {
      padding-bottom: 48px;
      height: 400px;
    }
  }

  h1 {
    z-index: 10;
    max-width: 900px;
  }

  img {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__holder {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 500px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
    }

    &::before {
      left: 10%;
      bottom: -30%;
      width: 300px;
      height: 300px;
      background-color: $red;
      filter: blur(200px);

      @include m($xl) {
        bottom: 0;
        filter: blur(100px);
      }

      @include m($lg) {
        filter: blur(40px);
      }

      @include m($md) {
        left: 5%;
        filter: blur(30px);
      }
    }

    &::after {
      left: 20%;
      bottom: -60%;
      width: 600px;
      height: 600px;
      background-color: $orange;
      filter: blur(200px);

      @include m($xl) {
        bottom: -40%;
        filter: blur(150px);
      }

      @include m($lg) {
        filter: blur(80px);
        transform: scale(0.8);
      }

      @include m($md) {
        left: 15%;
        filter: blur(70px);
        transform: scale(0.75);
      }
    }
  }

  .relate {
    @include m($sm) {
      display: none;
    }
  }

  @include m($lg) {
    border-radius: 0 0 32px 32px;
  }
}

.relate {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  min-width: 50px;
  overflow: hidden;
  border-radius: 50%;

  &__text {
    display: flex;
    align-items: center;

    p {
      margin-right: 10px;
      font-weight: 600;
    }
  }
}

.link__service {
  @include relate;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  background-color: $white;
  transition: all 0.2s;

  svg {
    z-index: 15;

    path {
      transition: all 0.4s;
    }
  }

  &:focus {
    background-color: $gray;

    span {
      display: none;
    }

    svg {
      path {
        stroke: $white;
      }
    }
  }

  &:hover {
    span {
      width: 130px;
      height: 130px;
    }

    svg {
      path {
        stroke: $white;
      }
    }
  }
}

.article {
  width: 100%;
  max-width: 384px;

  img {
    margin-bottom: 24px;
    min-height: 384px;
    border-radius: 16px;
    object-fit: cover;
    transition: 0.2s;

    @include m($xl) {
      min-height: 300px;
    }

    @include m($xl) {
      min-height: 270px;
    }

    @include m($lg) {
      margin-bottom: 16px;
    }
  }

  h6 {
    margin-bottom: 16px;
    transition: 0.2s;
  }

  &__element {
    @include relate;

    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    width: max-content;
    height: 32px;
    overflow: hidden;
    border: 1px solid $gray;
    border-radius: 32px;
    font-size: 12px;
    line-height: 20px;

    p {
      z-index: 5;
    }

    &:hover {
      span {
        width: 500px;
        height: 500px;
      }
    }
  }

  &:hover {
    img {
      opacity: 0.7;
    }

    h6 {
      color: $orange;
    }
  }

  @include m($xl) {
    max-width: 100%;
  }
}

.services-block {
  position: relative;
  width: 100%;
  max-width: 588px;
  overflow: hidden;
  border-radius: 24px;
  background-color: $orange;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25;
    display: none;
    width: 100%;
    height: 2px;
    background-color: $orange;

    @include m($md) {
      display: block;
    }
  }

  &__holder {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px;
    height: 394px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
    }

    span {
      position: absolute;
      left: 40px;
      top: 40px;
      z-index: 10;

      @include m($md) {
        display: none;
      }
    }

    h5,
    a {
      z-index: 10;
    }

    @include m($xl) {
      height: 340px;
    }

    @include m($lg) {
      height: 300px;
    }

    @include m($md) {
      z-index: 20;
      padding: 24px;
      height: 140px;
    }
  }

  &__info {
    padding: 40px;

    img {
      margin-bottom: 16px;

      @include m($lg) {
        margin-bottom: 12px;
      }
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    @include m($lg) {
      padding: 25px;
    }

    @include m($md) {
      display: none;
    }
  }

  @include m($md) {
    background-color: $black;
  }
}

.swiper__scope {
  margin-right: -51%;

  @include m(1400) {
    margin-right: 0;
  }
}
