html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  cursor: default;
  scroll-behavior: smooth;
}

.main {
  background-color: $black;
}

.page-template-home-php.light {
  .header {
    .logo-black {
      display: none;
    }

    .logo-white {
      display: block;
    }
  }
}

.light {
  background-color: $white;

  .sun {
    .logo-black {
      display: none !important;
    }

    .logo-white {
      display: block !important;
    }
  }

  .main {
    background-color: $white;
  }

  .vacancy-open {
    color: $black;
    background-color: $white;

    p {
      color: $gray-dark;
    }

    .slime {
      border: none;

      p {
        color: $black;
      }

      &:hover {
        border: none;

        p {
          color: $black !important;
        }

        .slime__block {
          svg {
            path {
              stroke: $black !important;
            }
          }
        }
      }
    }

    &__info + .vacancy-open__info {
      border-top: 1px solid $gray;
    }
  }

  .expert__button {
    border: none !important;

    p {
      color: $orange !important;
    }
  }

  .slime--text {
    border: none !important;

    .slime__add {
      border: 1px solid $gray;
    }

    &:hover {
      .slime__block {
        p {
          color: $orange !important;
        }
      }
    }
  }

  .expert {
    .slime {
      border: none;

      &__block {
        p {
          color: $orange;
        }
      }

      &:hover {
        .slime__block {
          p {
            color: $orange;
          }
        }
      }
    }
  }

  .top {
    .slime__block {
      p {
        color: $white;
      }
    }

    .slime {
      &:hover {
        border: none !important;
      }
    }
  }

  .form__button {
    .slime {
      &:hover {
        .slime__block {
          p {
            color: $orange;
          }
        }
      }
    }
  }

  .slime {
    border: 1px solid $gray-medium;
    transition: all 0.4s;

    &__block {
      p {
        color: $black;
      }

      svg {
        path {
          stroke: $black;
        }
      }
    }

    &:hover {
      border: 1px solid transparent;

      .slime__block {
        p {
          color: $white;
        }

        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
  }

  .menu-mobile .accordion-toggle svg path {
    stroke: $gray-medium !important;
  }

  .menu-mobile .accordion-toggle {
    border-top: 1px solid $gray !important;
  }

  .section__title {
    p {
      color: $gray-medium;
    }

    h2 {
      color: $black;
    }
  }

  .do {
    h6 {
      color: $black;
    }
  }

  .trusted {
    background: $gray;

    .section__title {
      p {
        color: $gray-dark;
      }
    }

    h5 {
      color: $black;
    }

    .trusted__list {
      img {
        filter: invert(1);
      }

      li {
        border-color: $gray-medium;
      }
    }
  }

  .company {
    background-image: url("../images/company-white.svg");

    &__list {
      color: $black;
    }
  }

  .studies {
    background-color: $gray;

    .section__title {
      p {
        color: $gray-dark;
      }
    }

    .article__element {
      border: 1px solid $gray-medium;
    }
  }

  .article {
    h6 {
      color: $black;
    }

    &__element {
      p {
        color: $black;
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        p {
          color: $white;
        }
      }
    }
  }

  .footer {
    a {
      color: $black;
    }

    .logo-white {
      display: none;
    }

    .logo-black {
      display: block;
    }

    &__copy {
      color: $black;

      ul {
        li:first-child {
          &::after {
            background-color: rgba($black, 0.25);
          }
        }
      }
    }

    &__inner {
      border-bottom: 1px solid $gray;
    }

    &__network {
      border: 1px solid $gray;

      img {
        filter: invert(1);
        transition: filter 0.5s ease-in-out;
      }

      &:hover {
        img {
          filter: invert(0);
        }
      }
    }
  }

  .services {
    background-color: $white;

    h2 {
      color: $black;
    }
  }

  .key {
    h2 {
      color: $black;
    }

    &__top {
      p {
        color: $gray-dark;
      }
    }

    &__img-black {
      display: none;
    }

    &__img-white {
      display: block;
    }

    ul {
      h6 {
        color: $black;
      }

      p {
        color: $gray-dark;
      }
    }
  }

  .approach {
    color: $black;

    &::after {
      background-color: $gray;
    }

    &__head {
      p {
        color: $gray-dark;
      }
    }

    &__wrap {
      span {
        border: 1px solid $gray-medium;
      }
    }
  }

  .results {
    color: $black;

    &::after {
      background-color: $gray;
    }

    p {
      color: $gray-dark;
    }
  }

  .consulting {
    color: $black;

    p {
      color: $gray-dark;
    }

    ul {
      border-top: 1px solid $gray;

      li {
        border-bottom: 1px solid $gray;
      }
    }
  }

  .scope {
    background-color: $white;

    .section__title {
      p {
        color: $gray-dark;
      }
    }
  }

  .strategy {
    color: $black;

    &__img-black {
      display: none;
    }

    &__img-white {
      display: block;
    }

    p {
      color: $gray-dark;
    }
  }

  .models {
    color: $black;

    p {
      color: $gray-dark;
    }

    .panel {
      .panel-body {
        img {
          filter: invert(1);
        }
      }
    }

    .accordion-toggle.collapsed {
      border-top: 1px solid $gray;

      svg {
        path {
          stroke: $black;
        }
      }
    }
  }

  .platform {
    color: $black;

    &::after {
      background-color: $gray;
    }

    &__img-black {
      display: none;
    }

    &__img-white {
      display: block;
    }

    ul {
      li {
        background-color: $white;
      }
    }

    .relate__text {
      p {
        color: $black;
      }
    }

    .link__service {
      border: 1px solid $gray;
    }
  }

  .options {
    color: $black;

    ul {
      li {
        background-color: $gray;

        img {
          filter: invert(1);
        }
      }
    }

    .relate__text {
      p {
        color: $black;
      }
    }
  }

  .micro {
    color: $black;

    &::after {
      background-color: $gray;
    }

    p {
      color: $gray-dark;
    }

    .logos-roll {
      img {
        filter: invert(1);
      }
    }
  }

  .expertise--extras {
    color: $black;

    p {
      color: $gray-dark;
    }

    ul {
      li {
        border-top: 2px solid $gray;
      }
    }

    .relate__text {
      p {
        color: $black;
      }
    }

    .link__service {
      border: 1px solid $gray;
    }
  }

  .case {
    background-color: $white;

    h1 {
      color: $black;
    }

    &__active {
      p {
        color: $white;
      }
    }

    .container__list {
      .article__element {
        border: 1px solid $gray;
      }
    }

    .button {
      color: $black;
    }
  }

  .header {
    .menu__burger {
      border: 1px solid $white;

      &::after,
      &::before {
        background-color: $white;
      }
    }

    .menu__burger--sun {
      border: 1px solid $black;

      &::after,
      &::before {
        background-color: $black;
      }
    }

    .button {
      border: none;

      .slime__block {
        p {
          color: $white;
        }
      }
    }

    .slime {
      border: none;

      &:hover {
        border: none;
      }
    }

    .menu__drop {
      border: 1px solid $gray !important;
      background-color: $white !important;

      &::before {
        border-bottom: 10px solid $white !important;
      }

      &::after {
        border-bottom: 12px solid $gray !important;
      }

      ul {
        color: $black !important;

        a {
          color: $black !important;
        }
      }
    }
  }

  .header--active {
    border-bottom: 1px solid $gray;
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px);

    .logo-black {
      display: none;
    }

    .logo-white {
      display: block;
    }

    .menu__burger {
      border: 1px solid $gray-dark !important;

      &::after,
      &::before {
        background-color: $gray-dark !important;
      }
    }

    .menu__item {
      svg {
        path {
          stroke: $black;
        }
      }

      &:hover {
        .menu__item-link {
          color: $gray-medium !important;
        }

        svg {
          path {
            stroke: $gray-medium !important;
          }
        }
      }
    }

    .menu__item-link {
      color: $black;
    }
  }

  .header-custom {
    border-bottom: 1px solid $gray;
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px);

    .logo-black {
      display: none;
    }

    .logo-white {
      display: block;
    }

    .menu__item-link {
      color: #010c21;
    }

    .menu__item svg path {
      stroke: #010c21;
    }
  }

  .case-details {
    color: $black;

    &__info {
      h6 {
        color: $black;
        background-color: $gray;

        &::after,
        &::before {
          filter: invert(1);
        }
      }

      ul {
        li {
          color: $gray-dark;
        }
      }

      ol {
        li {
          color: $gray-dark;

          &::marker {
            color: $black;
          }
        }

        span {
          color: $black;
        }
      }
    }

    .expert {
      h5 {
        color: $white;
      }
    }
  }

  .terms__navigation-social {
    svg {
      path {
        fill: $black;
      }
    }

    li {
      &:hover {
        svg {
          fill: $black;

          circle {
            stroke: $black;
          }

          path {
            fill: $white;
          }
        }
      }
    }

    li:last-child {
      svg {
        path {
          fill: transparent;
          stroke: $black;
        }
      }

      &:hover {
        svg {
          fill: $black;

          circle {
            stroke: $black;
          }

          path {
            fill: transparent;
            stroke: $white;
          }
        }
      }
    }
  }

  .terms {
    color: $black;
    background-color: $white;

    &__navigation {
      span {
        color: $gray-dark;
      }

      @include m($lg) {
        position: relative;
      }
    }

    &__info {
      p {
        color: $gray-dark;
      }
    }
  }

  .digital {
    color: $black;

    &__text {
      p {
        color: $gray-dark;
      }
    }
  }

  .digital-person {
    span {
      color: $gray-dark;
    }
  }

  .delivery {
    color: $black;

    &::after {
      background-color: $gray;
    }

    &__info {
      p {
        color: $gray-dark;
      }
    }

    &__stats {
      p {
        color: $gray-dark;
      }

      ul {
        li {
          border-top: 1px solid $gray-medium;
        }
      }
    }
  }

  .say {
    color: $black;
  }

  .values {
    color: $black;

    img {
      filter: invert(1);
    }

    p {
      color: $gray-dark;
    }
  }

  .management {
    color: $black;

    &::after {
      background-color: $gray;
    }

    &__info {
      p {
        color: $gray-dark;
      }
    }

    &__logos {
      img {
        filter: invert(1);
      }
    }
  }

  .expertise-about {
    background-color: $white;
  }

  .setup {
    color: $black;

    p {
      color: $gray-dark;
    }

    &__wrap {
      p {
        color: $gray-medium;
      }
    }

    &__img-black,
    &__mobile-black {
      display: none;
    }

    &__img-white,
    &__mobile-white {
      display: block;
    }
  }

  .cooperation {
    color: $black;

    &::after {
      background-color: $gray;
    }

    &__info {
      li:first-child {
        border-top: 2px solid $black;
      }
    }
  }

  .model-approach {
    p {
      color: $black;
    }
  }

  .vendor {
    background-color: $white;

    h2 {
      color: $black;
    }

    &__inner {
      &::after {
        background-color: $gray;
      }
    }

    ul {
      li {
        color: $gray-dark;
      }

      ul {
        li {
          color: $black;
        }
      }
    }
  }

  .careers {
    color: $black;
    background-color: $white;

    .expert__button {
      border: 1px solid $gray !important;
    }

    &__people-wrap {
      p {
        color: $gray-dark;
      }
    }

    &__people {
      .expert__button {
        border: 1px solid $gray;
      }
    }

    &__work {
      color: $white;
    }

    &__say-wrap {
      p {
        color: $gray-dark;
      }
    }

    &__say-black {
      display: none;
    }

    &__say-white {
      display: block;
    }
  }

  .vacancies {
    color: $black;
    background-color: $white;

    &__list {
      li {
        a {
          border-top: 1px solid $gray;

          &::after {
            content: url("../../images/vacancy-open-bl.svg");
          }
        }

        &:last-child a {
          border-bottom: 1px solid $gray;
        }
      }
    }

    &__symbol {
      li {
        color: $gray-dark;
      }
    }

    &__filter {
      label {
        span {
          color: $gray-dark;
        }
      }

      input {
        border-bottom: 1px solid $black;
        color: $black;

        &::placeholder {
          color: $black;
        }
      }

      select {
        border-bottom: 1px solid $black;
        color: $black;

        &::placeholder {
          color: $black;
        }
      }
    }
  }

  .contact {
    color: $black;
    background-color: $white;

    &__wrap {
      p {
        color: $gray-dark;
      }
    }

    &__vac {
      a {
        color: $orange;
      }

      .touch__place {
        p {
          color: $gray-dark;
        }
      }
    }

    .form {
      span {
        color: $gray-dark;
      }

      p {
        color: $gray-dark;
      }

      input {
        border-bottom: 1px solid $black;
        color: $black;
      }

      textarea {
        border: 1px solid $black;
        color: $black;

        &::placeholder {
          color: $black;
        }
      }
    }

    .touch__tel {
      color: $black;
    }

    .slime {
      border: 1px solid $black !important;
    }
  }

  .error {
    background-color: $white;

    &::before {
      z-index: 5;
    }
  }

  .menu-mobile {
    background-color: $white;
  }

  .menu-mobile--active {
    .logo-white {
      display: block !important;
    }

    .button {
      span {
        color: $white;
      }
    }
  }

  .menu-mobile__block {
    a {
      color: $gray-dark;
    }
  }

  .models .panel:last-child {
    border-bottom: 1px solid $gray;
  }

  .terms__info h3 {
    border-top: 1px solid $gray;
  }

  .second-span {
    border-top: 1px solid $gray;
  }
}

.theme-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 32px;
  padding: 0 4px;
  width: 60px;
  height: 32px;
  min-width: 60px;
  border: 1px solid $gray-dark;
  border-radius: 100px;
  background-color: $black;
  transition: all 0.2s;

  &::after {
    content: "";
    position: absolute;
    right: 3px;
    top: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16), 0 0 1px rgba(0, 0, 0, 0.4);
    background: $white;
    transform: translateY(-50%) translateX(0);
    transition: all 0.2s;
  }

  &__active {
    border: 1px solid $gray;
    background-color: $white;

    &::after {
      transform: translateY(-50%) translateX(-28px);
    }
  }

  @include m($lg) {
    margin: 0 20px 0 auto;
  }
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;

  &::before,
  &::after {
    display: none;
  }

  &--header {
    padding: 0 40px;
    max-width: 1920px;
  }

  @include m(1400) {
    padding: 0 24px;
    max-width: 1248px;
  }

  @include m($md) {
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.04em;
}

h1 {
  font-size: 64px;
  line-height: 72px;

  @include m($xl) {
    font-size: 56px;
    line-height: 64px;
  }

  @include m($lg) {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  font-size: 56px;
  line-height: 64px;

  @include m($xl) {
    font-size: 40px;
    line-height: 48px;
  }

  @include m($lg) {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-size: 48px;
  line-height: 56px;

  @include m($xl) {
    font-size: 40px;
    line-height: 48px;
  }

  @include m($lg) {
    font-size: 32px;
    line-height: 40px;
  }
}

h4 {
  font-size: 40px;
  line-height: 48px;

  @include m($xl) {
    font-size: 32px;
    line-height: 40px;
  }

  @include m($lg) {
    font-size: 24px;
    line-height: 32px;
  }
}

h5 {
  font-size: 32px;
  line-height: 40px;

  @include m($xl) {
    font-size: 26px;
    line-height: 34px;
  }

  @include m($lg) {
    font-size: 20px;
    line-height: 28px;
  }
}

h6 {
  font-size: 24px;
  line-height: 32px;

  @include m($xl) {
    font-size: 20px;
    line-height: 28px;
  }

  @include m($lg) {
    font-size: 18px;
    line-height: 26px;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  width: fit-content;
  height: 56px;
  overflow: hidden;
  border-radius: 32px;
  font-weight: 600;
  transition: all 0.4s;

  img {
    margin-right: 8px;
  }
}

.section {
  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;

    .slime {
      animation: fade 0.8s;
    }

    h5 {
      padding-bottom: 8px;
      animation: fade 0.8s;

      span {
        display: inline-block;
        margin-right: 16px;
      }
    }

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  &__title {
    animation: fade 0.8s;

    p {
      margin-bottom: 8px;
      color: $gray;
    }
  }
}

.logo {
  display: block;
}

.preview {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 40px 40px;

  &::before {
    content: url("../images/services-decor.svg");
    position: absolute;
    left: 8%;
    top: 10%;
    z-index: 0;

    @include m(1700) {
      left: -80px;
      top: 0;
      transform: scale(0.7);
    }

    @include m(1550) {
      left: -130px;
    }

    @include m(1400) {
      left: -200px;
    }

    @include m($xl) {
      left: -250px;
      top: -80px;
    }

    @include m($sm) {
      top: 15%;
      transform: scale(0.6);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 389px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &__link {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    background-color: $white;

    &:hover {
      .preview__link-inner {
        transform: translateY(0);
      }
    }

    @include m($sm) {
      display: none;
    }
  }

  &__link-wrap {
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  &__link-inner {
    display: flex;
    align-items: center;
    transform: translateY(-100%);
    transition: all 0.4s;
  }

  &__head {
    z-index: 10;
  }

  p {
    margin-bottom: 8px;
    font-weight: 600;

    @include m($lg) {
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 80px;
    height: 500px;
    animation: fade 0.8s;

    @include m($xl) {
      padding-bottom: 48px;
      height: 400px;
    }

    @include m($sm) {
      height: 80vh;
    }
  }

  h1 {
    z-index: 10;
    max-width: 900px;
  }

  img {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__holder {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 500px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
    }

    &::before {
      left: 10%;
      bottom: -30%;
      width: 300px;
      height: 300px;
      background-color: $red;
      filter: blur(200px);

      @include m($xl) {
        bottom: 0;
        filter: blur(100px);
      }

      @include m($lg) {
        filter: blur(40px);
      }

      @include m($md) {
        left: 5%;
        filter: blur(30px);
      }

      @include m($sm) {
        bottom: -10%;
      }
    }

    &::after {
      left: 20%;
      bottom: -60%;
      width: 600px;
      height: 600px;
      background-color: $orange;
      filter: blur(200px);

      @include m($xl) {
        bottom: -40%;
        filter: blur(150px);
      }

      @include m($lg) {
        filter: blur(80px);
        transform: scale(0.8);
      }

      @include m($md) {
        left: 15%;
        filter: blur(70px);
        transform: scale(0.75);
      }
    }

    @include m($sm) {
      height: 100vh;
    }
  }

  .relate {
    @include m($sm) {
      display: none;
    }
  }

  @include m($lg) {
    border-radius: 0 0 32px 32px;
  }
}

.relate {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  min-width: 50px;
  overflow: hidden;
  border-radius: 50%;

  &__text {
    display: flex;
    align-items: center;

    p {
      margin-right: 10px;
      margin-bottom: 0 !important;
      font-weight: 600;
      text-decoration: line-through;
      color: $orange;
    }

    &:hover {
      cursor: pointer;

      .job__wave {
        .letter {
          transform: translateY(-100%);
        }
      }
    }
  }
}

.job__wave {
  display: inline-block;
  height: 24px;
  overflow: hidden;

  .letter {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
}

.link__service {
  @include relate;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  background-color: $white;
  transition: all 0.2s;

  svg {
    z-index: 15;

    path {
      transition: all 0.4s;
    }
  }

  &:hover {
    span {
      width: 130px;
      height: 130px;
    }

    svg {
      path {
        stroke: $white;
      }
    }
  }

  &:disabled {
    background-color: $gray;

    span {
      display: none;
    }

    svg {
      path {
        stroke: $white;
      }
    }
  }
}

.article {
  display: inline-block;
  max-width: 384px;

  &__img {
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 16px;
  }

  img {
    width: 100%;
    min-height: 384px;
    max-height: 384px;
    border-radius: 16px;
    object-fit: cover;
    transition: all 0.4s;

    @include m($xl) {
      min-height: 300px;
      max-height: 300px;
    }

    @include m($xl) {
      min-height: 270px;
      max-height: 270px;
    }
  }

  h6 {
    margin-bottom: 16px;
    transition: 0.2s;
  }

  &__element {
    @include relate;

    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    width: max-content;
    height: 32px;
    overflow: hidden;
    border: 1px solid $gray;
    border-radius: 32px;
    font-size: 12px;
    line-height: 20px;
    transition: all 0.5s ease-in-out;

    p {
      z-index: 5;
    }

    &:hover {
      border: 1px solid $orange !important;

      span {
        width: 500px;
        height: 500px;
      }
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    h6 {
      color: $orange;
    }
  }

  @include m($xl) {
    max-width: 100%;
  }
}

.services-block {
  position: relative;
  width: 100%;
  max-width: 588px;
  overflow: hidden;
  border-radius: 24px;
  background-color: $orange;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25;
    display: none;
    width: 100%;
    height: 2px;
    background-color: $orange;

    @include m($md) {
      display: block;
    }
  }

  &__holder {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px;
    height: 394px;
    overflow: hidden;
    border-radius: 24px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
      transition: all 0.4s;
    }

    span {
      position: absolute;
      left: 40px;
      top: 40px;
      z-index: 10;

      @include m($md) {
        display: none;
      }
    }

    h5,
    a {
      z-index: 10;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    @include m($xl) {
      height: 340px;
    }

    @include m($lg) {
      height: 300px;
    }

    @include m($md) {
      z-index: 20;
      padding: 24px;
      height: 140px;
    }
  }

  &__info {
    padding: 40px;

    img {
      margin-bottom: 16px;

      @include m($lg) {
        margin-bottom: 12px;
      }
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    @include m($lg) {
      padding: 25px;
    }

    @include m($md) {
      display: none;
    }
  }

  @include m($md) {
    background-color: $black;
  }
}

.swiper__scope {
  overflow: visible;
  animation: fade 0.8s;
}

.rich-text {
  p {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #bcc5d7;
  }

  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}

.slime {
  @include relate;

  position: relative;
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 56px;
  min-width: fit-content;
  overflow: hidden;
  border: 1px solid $gray-dark;
  border-radius: 32px;
  background-color: transparent;

  &__add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $white;
  }

  &__add-wrap {
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  &__wrap {
    z-index: 5;
    height: 24px;
    overflow: hidden;
  }

  &__add-inner {
    transition: all 0.4s;
  }

  &__block {
    display: flex;
    align-items: center;
    transition: all 0.4s;

    p {
      margin-right: 10px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      transition: all 0.4s;
    }

    svg {
      path {
        transition: all 0.5s;
      }
    }
  }

  &__studies {
    padding: 0 12px;
    width: fit-content;
    height: 30px;

    p {
      margin: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }

    .slime__wrap {
      height: 20px;
    }
  }

  &__form {
    span {
      display: block;
    }
  }

  &:hover,
  &:visited,
  &:target,
  &:active {
    outline: none !important;
  }

  &:hover {
    span {
      width: 500px;
      height: 500px;
    }

    .slime__block {
      transform: translateY(-100%);
    }
  }
}

.disable-link {
  pointer-events: none;
}

@keyframes fade-link {
  0% {
    opacity: 0;
    transform: translateY(80px) translateX(-50%);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

.slime--text {
  padding: 0;
  width: fit-content;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 0;

  .slime__add-inner {
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 1;

    &:last-child {
      transform: translateX(-100%);
    }
  }

  .slime__block {
    p {
      margin: 0 10px 0 0;
    }
  }

  &:hover {
    .slime__add-inner {
      &:first-child {
        transform: translateX(100%) translateY(-100%);
      }

      &:last-child {
        transform: translateX(0) translateY(-100%);
      }
    }

    .slime__block {
      p {
        color: $orange;
      }
    }
  }
}

.cookie {
  position: fixed;
  right: 48px;
  bottom: 48px;
  z-index: 30;
  padding: 24px;
  width: 100%;
  max-width: 404px;
  border: 1px solid $gray-dark;
  border-radius: 24px;
  background-color: $black;

  h6 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .expert__button {
    margin-right: 24px;
    padding: 0 24px;
    width: fit-content;
    height: 44px;

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $orange;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;

    span {
      width: calc(100%);
      background-image: linear-gradient(transparent calc(100% - 1px), $orange 1px);
      background-size: 0 90%;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }

    &:hover {
      span {
        background-size: 100% 90%;
      }
    }
  }

  @include m($sm) {
    right: 0;
    bottom: 16px;
    max-width: 100%;
  }
}

.close-pop {
  position: absolute;
  right: 24px;
  top: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  line-height: 1;
  background-image: url("../../images/close-pop.svg");
  background-color: transparent;

  @include m($md) {
    transform: scale(0.75);
  }
}

.thank-sent {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.48);

  .expert__button {
    margin: 16px auto 0;
    padding: 0 24px;
    width: fit-content;
    height: 56px;

    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $orange;
    }
  }

  &__inner {
    position: relative;
    padding: 56px;
    width: 100%;
    max-width: 545px;
    border-radius: 8px;
    background-color: $gray-dark;

    h5 {
      text-align: center;

      &:nth-child(2) {
        color: $orange;
      }
    }
  }
}

@keyframes under-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes under-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Linkedin-block {
  label {
    margin: 0 !important;
  }
}

.wpcf7-not-valid-tip {
  margin-top: 45px;
}

.footer__pusher {
  @include m(853) {
    min-height: 100vh !important;
  }
}
