body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $white;
  background-color: $black;
  cursor: default;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  &--header {
    padding: 0 40px;
    max-width: 1920px;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 56px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background-image: linear-gradient(256.49deg, #ff5366 7.82%, #6c57ff 75.06%);

  img {
    margin-right: 8px;
  }
}

.section {
  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    p {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
      color: $gray;
    }

    h2 {
      font-weight: 600;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -0.04em;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 50px 0 24px;
    height: 56px;
    border: 1px solid $gray-dark;
    border-radius: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;

    &::after {
      content: url("../images/more-arrow.svg");
      position: absolute;
      right: 24px;
      top: 50%;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
    }
  }
}