.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  height: 74px;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.4s;
  animation: fade 0.8s;

  .logo {
    position: relative;
    z-index: 30;
  }

  .logo-black {
    display: block;
  }

  .logo-white {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .theme-toggle {
      @include m($lg) {
        display: none;
      }
    }

    .menu__item {
      position: relative;
      display: flex;
      align-items: center;

      svg {
        margin-left: 4px;
        transition: all 0.2s;

        path {
          transition: all 0.2s;
        }
      }

      + .menu__item {
        margin-left: 80px;

        @include m($xl) {
          margin-left: 50px;
        }
      }

      .menu__drop {
        position: absolute;
        left: 50%;
        top: 59px;
        visibility: hidden;
        opacity: 0;
        padding: 16px;
        width: max-content;
        max-width: 190px;
        border: 1px solid $gray-dark;
        border-radius: 4px;
        background: #010c21;
        transform: translateX(-50%);
        transition: all 0.2s;

        &::after,
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          width: 0;
          height: 0;
          transform: translateX(-50%);
        }

        &::before {
          top: -10px;
          z-index: 10;
          border-right: 7px solid transparent;
          border-bottom: 10px solid $black;
          border-left: 7px solid transparent;
        }

        &::after {
          top: -12px;
          z-index: 5;
          border-right: 8px solid transparent;
          border-bottom: 12px solid $gray-dark;
          border-left: 8px solid transparent;
        }

        span {
          display: block;
          margin-bottom: 8px;
          font-size: 12px;
          line-height: 20px;
          color: $gray-medium;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 8px;
            }
          }

          a {
            display: block;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: $white;
            transition: 0.2s;

            &:hover {
              color: $orange !important;
            }
          }

          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }

      &:hover {
        cursor: pointer;

        .menu__item-link {
          color: $gray;
        }

        svg {
          transform: rotate(180deg);

          path {
            stroke: $gray;
          }
        }

        .menu__drop {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .menu__item-link {
      font-size: 14px;
      line-height: 22px;
      transition: 0.2s;
    }

    .menu__item-small {
      .menu__drop {
        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }
        }
      }
    }

    &__list {
      display: flex;
      margin: 0 58px 0 auto;
      height: 56px;

      @include m($xl) {
        margin: 0 45px 0 auto;
      }

      @include m($lg) {
        display: none;
      }
    }

    &__burger {
      position: relative;
      z-index: 30;
      display: none;
      margin: 0;
      padding: 0;
      width: 48px;
      height: 48px;
      min-width: 48px;
      border: 1px solid rgba($white, 0.24);
      border-radius: 50%;
      font-size: 0;
      line-height: 1;
      background-color: transparent;

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        width: 11px;
        height: 2px;
        background-color: $white;
        transform: translateX(-50%);
        transition: all 0.2s;
      }

      &::before {
        bottom: 19px;
      }

      &::after {
        top: 19px;
      }

      @include m($lg) {
        display: block;
      }
    }

    &__burger--active {
      &::before {
        bottom: 22px;
        transform: translateX(-50%) rotate(-45deg);
      }

      &::after {
        top: 22px;
        transform: translateX(-50%) rotate(45deg);
      }
    }
  }

  .button {
    position: relative;
    z-index: 1;
    padding: 0 24px;
    height: 54px;
    border-radius: 40px;
    background-image: linear-gradient(256.49deg, #ff5366 7.82%, #6c57ff 75.06%);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 0;
      background-image: linear-gradient(256.49deg, #6c57ff 7.82%, #ff5366 75.06%);
      transition: all 0.4s;
    }

    &:hover::after {
      top: 0;
      height: 100%;
    }

    &:disabled {
      background-image: none;
      background-color: $gray-medium;

      &::after {
        display: none;
      }
    }

    @include m($lg) {
      display: none;
    }
  }

  &--active {
    border-bottom: 1px solid $gray-dark;
    background-color: rgba(1, 12, 33, 0.72);
    backdrop-filter: blur(20px);
  }
}

.menu-mobile {
  position: absolute;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 20;
  padding: 73px 0 0 !important;
  height: 100vh;
  background-color: $black;
  transform: translateX(-200%);
  transition: all 0.3s;
  animation: none !important;

  .theme-mob {
    margin: 0 auto 20px;
  }

  .button {
    display: flex;
    margin: 0 auto 20px;
  }

  &__social {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .accordion-toggle {
    height: 72px !important;
    border-top: 1px solid $gray-dark !important;

    svg {
      path {
        stroke: $white !important;
      }
    }
  }

  .panel-group {
    margin-bottom: 40px !important;
  }

  .panel-body {
    display: flex;

    ul {
      margin-bottom: 24px !important;
    }
  }

  &__block {
    span {
      display: block;
      margin-bottom: 12px;
      font-size: 14px;
      line-height: 22px;
    }

    ul {
      display: flex;
      flex-direction: column;

      a {
        font-size: 12px;
        line-height: 20px;
        color: $gray-medium;
      }

      li {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  &--active {
    transform: translateX(0);
  }
}
