.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 96px 0 42px;

  .logo {
    margin: 0 0 52px;

    @include m($md) {
      margin: 0 0 42px;
    }
  }

  .logo-black,
  .logo-white {
    width: 280px;

    @include m($lg) {
      width: 255px;
    }
  }

  .logo-white {
    display: none;
  }

  .logo-black {
    display: block;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 62px;
    border-bottom: 1px solid rgba($white, 0.24);

    @include m(853) {
      flex-direction: column;
    }
  }

  &__network {
    @include relate;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border: 1px solid $gray-dark;
    border-radius: 50%;

    span {
      z-index: -1;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
    }

    img {
      z-index: 10;
    }

    + .footer__network {
      margin-left: 16px;
    }

    &:hover {
      cursor: pointer;

      span {
        width: 130px;
        height: 130px;
      }
    }
  }

  &__main {
    ul {
      display: flex;

      @include m(680) {
        max-width: 285px;
      }
    }

    @include m(853) {
      margin-bottom: 40px;
    }
  }

  &__menu {
    display: flex;
    align-items: baseline;
  }

  &__item-wrap {
    display: flex;

    .footer__submenu {
      li {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }

    .footer__item {
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }

    @include m(853) {
      flex-direction: row;
      justify-content: space-between;
      margin-left: 80px !important;
      width: 100%;
    }

    @include m(604) {
      flex-direction: row;
      justify-content: space-between;
      margin-left: 50px !important;
      width: 100%;
    }

    @include m(570) {
      flex-direction: column;
      margin-left: 30px !important;
    }
  }

  &__item {
    min-width: fit-content;

    a {
      display: block;
      margin-bottom: 16px;
      width: fit-content;
      font-weight: 600;
      transition: all 0.3s;

      &:hover {
        color: $orange;
      }
    }

    + .footer__item {
      margin-left: 48px;

      @include m($lg) {
        margin-left: 24px;
      }

      @include m(570) {
        margin-left: 0;
      }
    }
  }

  &__submenu {
    a,
    span {
      display: block;
      margin-bottom: 12px;
      width: fit-content;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    a {
      width: calc(100%);
      max-width: max-content;
      background-image: linear-gradient(transparent calc(100% - 1px), $orange 1px);
      background-size: 0 90%;
      background-repeat: no-repeat;
      transition: all 0.3s;
    }

    span {
      display: block;
      margin-bottom: 12px;
      font-size: 12px;
      line-height: 20px;
      color: $gray-medium;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      a {
        &:hover {
          color: $orange;
          background-size: 100% 90%;
        }
      }

      ul {
        li {
          a {
            &:hover {
              color: $orange;
              background-size: 100% 90%;
            }
          }
        }
      }
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    font-size: 12px;
    line-height: 20px;

    p {
      @include m(680) {
        margin-bottom: 16px;
        text-align: center;
      }
    }

    ul {
      display: flex;

      a {
        width: calc(100%);
        background-image: linear-gradient(transparent calc(100% - 1px), $orange 1px);
        background-size: 0 90%;
        background-repeat: no-repeat;
        transition: all 0.3s;

        &:hover {
          color: $orange;
          background-size: 100% 90%;
        }
      }

      li + li {
        margin-left: 24px;
      }

      li:first-child {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: -12px;
          top: 50%;
          width: 1px;
          height: 7px;
          background-color: rgba($white, 0.25);
          transform: translateY(-50%);
        }
      }

      @include m(680) {
        justify-content: center;
        margin-bottom: 16px;
      }
    }

    @include m($lg) {
      padding-top: 35px;
    }

    @include m(680) {
      flex-direction: column;
      align-items: center;
      padding-top: 24px;
    }
  }

  &__by {
    width: fit-content;

    a {
      display: inline-block;
      margin-left: 4px;
      transition: all 0.3s;

      &:hover {
        color: $orange;
      }
    }

    @include m(680) {
      margin-bottom: 0 !important;
    }
  }

  @include m($lg) {
    padding: 72px 0 32px;
  }

  @include m($lg) {
    padding: 56px 0 24px;
  }
}