.footer {
  padding: 96px 0 42px;
  border-top: 1px solid rgba($white, 0.24);
  animation: fade 0.8s;

  a {
    transition: all 0.2s;

    &:hover {
      color: $orange;
    }
  }

  .logo {
    margin: 0 0 52px;

    @include m($md) {
      margin: 0 0 42px;
    }
  }

  .logo-white {
    display: block;
  }

  .logo-black {
    display: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 62px;
    border-bottom: 1px solid rgba($white, 0.24);

    @include m(853) {
      flex-direction: column;
    }
  }

  &__network {
    @include relate;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border: 1px solid $gray-dark;
    border-radius: 50%;

    img {
      z-index: 10;
    }

    + .footer__network {
      margin-left: 16px;
    }

    &:hover {
      cursor: pointer;

      span {
        width: 130px;
        height: 130px;
      }
    }
  }

  &__main {
    ul {
      display: flex;

      @include m(680) {
        max-width: 285px;
      }
    }

    @include m(853) {
      margin-bottom: 40px;
    }
  }

  &__menu {
    display: flex;
    align-items: baseline;
  }

  &__item-wrap {
    display: flex;

    .footer__submenu {
      li {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }

    @include m(540) {
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: 0 !important;
      margin-left: 11px !important;
    }
  }

  &__item {
    a {
      display: block;
      margin-bottom: 16px;
      font-weight: 600;
    }

    + .footer__item {
      margin-left: 48px;

      @include m($lg) {
        margin-left: 24px;
      }

      @include m(540) {
        margin-left: 0;
      }
    }

    @include m(540) {
      margin-right: 24px;
    }
  }

  &__submenu {
    a,
    span {
      display: block;
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__thirdmenu {
    a {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 20px;
      color: $gray-medium;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    font-size: 12px;
    line-height: 20px;

    a {
      text-decoration: underline transparent;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      @include m(680) {
        margin-bottom: 16px;
        text-align: center;
      }
    }

    ul {
      display: flex;

      li + li {
        margin-left: 24px;
      }

      li:first-child {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: -12px;
          top: 50%;
          width: 1px;
          height: 7px;
          background-color: rgba($white, 0.25);
          transform: translateY(-50%);
        }
      }

      @include m(680) {
        justify-content: center;
        margin-bottom: 16px;
      }
    }

    @include m($lg) {
      padding-top: 35px;
    }

    @include m(680) {
      flex-direction: column;
      padding-top: 24px;
    }
  }

  &__by {
    a {
      display: inline-block;
      margin-left: 4px;
    }

    @include m(680) {
      margin-bottom: 0 !important;
    }
  }

  @include m($lg) {
    padding: 72px 0 32px;
  }

  @include m($lg) {
    padding: 56px 0 24px;
  }
}