.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 16px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__item {
            display: flex;
            align-items: center;

            svg {
                margin-left: 4px;
                transition: all 0.2s;
            }

            + .menu__item {
                margin-left: 80px;
            }

            &:hover {
                cursor: pointer;

                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__list {
            display: flex;
            margin: 0 76px 0 auto;
        }
    }
}