.digital {
  padding: 160px 0;
  animation: fade 0.8s;

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include m($lg) {
      flex-direction: column;
    }
  }

  &__text {
    margin-right: 30px;
    max-width: 588px;

    h2 {
      margin-bottom: 24px;

      @include m($lg) {
        margin-bottom: 16px;
      }
    }

    p {
      color: $gray;
    }

    @include m($lg) {
      margin-right: 0;
      margin-bottom: 40px;
      max-width: 100%;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0 97px;
  }
}

.delivery {
  @include bg-figure;

  position: relative;
  padding: 160px 0;
  animation: under-right 0.8s;

  &::after {
    right: 0;
    max-width: 1680px;
    border-radius: 40px 0 0 40px;
    background-color: $gray-dark;

    @include m($lg) {
      border-radius: 24px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    animation: fade 1.2s;

    @include m($lg) {
      flex-direction: column;
    }
  }

  &__info {
    margin-right: 30px;
    max-width: 470px;

    h2 {
      margin-bottom: 24px;

      @include m($lg) {
        margin-bottom: 16px;
      }
    }

    @include m($lg) {
      margin-right: 0;
      margin-bottom: 56px;
      max-width: 100%;
    }
  }

  &__stats {
    max-width: 588px;

    h5 {
      margin-bottom: 32px;

      @include m($lg) {
        margin-bottom: 24px;
      }
    }

    ul {
      display: grid;
      grid-column-gap: 24px;
      grid-row-gap: 0;
      grid-template-columns: 1fr 1fr 1fr;

      li {
        padding-top: 24px;
        border-top: 1px solid $white;

        h4 {
          margin-bottom: 12px;

          @include m($lg) {
            margin-bottom: 4px;
          }
        }

        @include m($lg) {
          padding-top: 16px;
        }
      }

      @include m($lg) {
        grid-column-gap: 16px;
        grid-row-gap: 0;
      }

      @include m(605) {
        grid-column-gap: 16px;
        grid-row-gap: 32px;
        grid-template-columns: 1fr 1fr;
      }
    }

    @include m($lg) {
      max-width: 100%;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.digital-person {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 96px;
  width: fit-content;
  height: 72px;

  img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
  }

  p {
    margin-bottom: 8px;
    font-weight: 600;
  }

  span {
    font-size: 14px;
    line-height: 22px;
    color: $gray-medium;
  }
}

.digital-info {
  max-width: 588px;

  h6 {
    position: relative;
    margin-bottom: 16px;
    padding: 36px 0;

    &::after,
    &::before {
      content: url("../images/quote-violet.svg");
      position: absolute;
      width: 32px;
      height: 20px;
      line-height: 1;
    }

    &::before {
      right: 0;
      bottom: 0;
    }

    &::after {
      left: 0;
      top: 0;
    }
  }

  @include m($lg) {
    max-width: 100%;
  }
}

.expertise-about {
  position: relative;
  padding: 160px 0;
  border-radius: 0 0 40px 40px;
  background-color: $black;
  animation: fade 0.8s;

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.say {
  padding: 160px 0 200px;
  animation: fade 0.8s;

  h2 {
    margin-bottom: 40px;

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  ul {
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 88px;
    grid-template-columns: 1fr 1fr;

    @include m($xl) {
      grid-column-gap: 30px;
      grid-row-gap: 88px;
    }

    @include m($lg) {
      grid-column-gap: 0;
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
    }
  }

  .digital-info {
    max-width: 486px;

    @include m($lg) {
      max-width: 100%;
    }
  }

  @include m($xl) {
    padding: 120px 0 150px;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.values {
  padding: 200px 0 160px;
  animation: fade 1s;

  h2 {
    margin-bottom: 40px;

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  ul {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    img {
      margin-bottom: 24px;

      @include m(620) {
        margin-bottom: 16px;
      }
    }

    @include m($lg) {
      grid-column-gap: 24px;
      grid-row-gap: 40px;
      grid-template-columns: 1fr 1fr;
    }

    @include m(620) {
      grid-column-gap: 0;
      grid-row-gap: 32px;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    padding: 150px 0 120px;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.management {
  @include bg-figure;

  position: relative;
  padding: 160px 0;
  animation: under-left 0.8s;

  &::after {
    left: 0;
    max-width: 1680px;
    border-radius: 0 40px 40px 0;
    background-color: $gray-dark;

    @include m($lg) {
      border-radius: 24px;
    }
  }

  .container {
    animation: fade 1.2s;
  }

  h2 {
    margin-bottom: 40px;

    @include m($lg) {
      margin-bottom: 16px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include m($xl) {
      flex-direction: column;
    }
  }

  &__info {
    margin-right: 30px;
    max-width: 588px;

    p {
      margin-bottom: 18px;
      color: $gray;

      @include m($lg) {
        margin-bottom: 24px;
      }
    }

    ul {
      li {
        position: relative;
        padding-left: 28px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
          width: 12px;
          height: 12px;
          border-radius: 4px;
          background: $red;
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    @include m($xl) {
      margin-right: 0;
      margin-bottom: 32px;
      max-width: 100%;
    }
  }

  &__logos {
    max-width: 584px;

    ul {
      display: grid;
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      grid-template-columns: minmax(72px, 1fr) minmax(72px, 1fr) minmax(72px, 1fr) minmax(72px, 1fr) minmax(72px, 1fr);
      width: 100%;

      img {
        width: 72px;
        height: 72px;
        min-width: 72px;

        @include m($lg) {
          width: 64px;
          height: 64px;
          min-width: 64px;
        }
      }

      li {
        @include m($xl) {
          margin-right: 24px;
        }
      }

      @include m($xl) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-column-gap: 0;
        grid-row-gap: 0;
      }
    }

    @include m($xl) {
      max-width: 100%;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}