.case {
  position: relative;
  padding: 200px 0 160px;
  background: $black;

  &__slime {
    margin: 0 auto;
    animation: fade 1s;

    p {
      margin: 0;
    }
  }

  .slime {
    width: fit-content;

    &::after {
      display: none;
    }
  }

  &__active {
    border-radius: 32px;
    background-color: $orange;
  }

  h1 {
    margin-bottom: 41px;
    animation: fade 0.92s;

    @include m($xl) {
      margin-bottom: 30px;
    }

    @include m($lg) {
      margin-bottom: 16px;
    }
  }

  .container__list {
    .article__element {
      border: 1px solid $gray-medium;
    }

    @include m($sm) {
      padding: 0 0 0 16px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    animation: fade 1s;

    li {
      animation: fade 1s;

      &:not(:last-child) {
        margin: 0 16px 16px 0;

        @include m($sm) {
          margin: 0 16px 8px 0;
        }
      }

      .case__active {
        border: 1px solid $orange;
        background-color: $orange;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .article__element {
      &:hover {
        border: 1px solid $orange;
      }
    }

    @include m($sm) {
      flex-wrap: nowrap;
      margin-bottom: 32px;
      overflow: scroll;
    }
  }

  .articles {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 56px;

    .article {
      animation: fade 1.2s;
    }

    @include m(830) {
      grid-column-gap: 20px;
      grid-row-gap: 40px;
      grid-template-columns: 1fr 1fr;
    }

    @include m($lg) {
      margin-bottom: 40px;
    }

    @include m($sm) {
      grid-column-gap: 0;
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
    }
  }

  .button {
    margin: 0 auto;
    border: 1px solid $gray-dark;
    background-color: transparent;
  }

  @include m($xl) {
    padding: 150px 0 120px;
  }

  @include m($lg) {
    padding: 104px 0 80px;
  }
}
