.key {
  padding: 160px 0;
  animation: fade 0.8s;

  &__img-black {
    display: block;
  }

  &__img-white {
    display: none;
  }

  h2 {
    margin-bottom: 24px;
  }

  &__top {
    margin-bottom: 88px;

    p {
      color: $gray;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    @include m($xl) {
      margin-bottom: 68px;
    }

    @include m($lg) {
      margin-bottom: 48px;
    }
  }

  ul {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      img {
        margin-bottom: 24px;

        @include m($lg) {
          margin-bottom: 16px;
        }
      }
    }

    h6 {
      margin-bottom: 24px;
      max-width: 80%;

      @include m($lg) {
        margin-bottom: 16px;
        max-width: 100%;
      }
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }

    @include m($lg) {
      grid-column-gap: 0;
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.approach {
  @include bg-figure;

  position: relative;
  padding: 160px 0;
  animation: under-right 0.8s;

  &::after {
    right: 0;
    max-width: 1680px;
    border-radius: 40px 0 0 40px;
    background-color: $gray-dark;

    @include m($lg) {
      border-radius: 24px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    ul {
      max-width: 486px;
      animation: fade 1.4s;

      @include m($lg) {
        max-width: 100%;
      }
    }

    @include m($lg) {
      flex-direction: column;
    }
  }

  &__head {
    margin-right: 30px;
    max-width: 588px;
    animation: fade 1.2s;

    h2 {
      margin-bottom: 40px;

      @include m($lg) {
        margin-bottom: 24px;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    @include m($lg) {
      margin-right: 0;
      margin-bottom: 48px;
      max-width: 100%;
    }
  }

  ul {
    li {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        width: 56px;
        height: 56px;
        border: 1px solid $gray;
        border-radius: 50%;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.04em;

        @include m($lg) {
          width: 50px;
          height: 50px;
          font-size: 18px;
          line-height: 26px;
        }
      }

      p {
        font-size: 14px;
        line-height: 22px;
      }

      + li {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid $gray-medium;
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.expert {
  padding: 160px 0;
  animation: fade 1.2s;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 48px 78px;
    width: 100%;
    max-width: 792px;
    border-radius: 40px;
    background-image: linear-gradient(256.49deg, #ff5366 7.82%, #6c57ff 75.06%);
    background-size: 200%;
    animation: gradient 8s infinite linear;

    @include m($lg) {
      padding: 30px 50px;
      border-radius: 24px;
    }

    @include m($md) {
      flex-direction: column;
      padding: 24px;
      text-align: center;
    }

    @keyframes gradient {
      0% {
        background-position: 80% 0;
      }

      50% {
        background-position: 20% 100%;
      }

      100% {
        background-position: 80% 0;
      }
    }
  }

  &__head {
    max-width: 420px;

    h5 {
      margin-bottom: 24px;

      @include m($md) {
        margin-bottom: 16px;
      }
    }

    h6 {
      font-weight: 400;
    }

    @include m($md) {
      margin-bottom: 24px;
      max-width: 100%;
    }
  }

  &__button {
    @include relate;

    position: relative;
    padding: 0 32px;
    height: 88px;
    min-width: fit-content;
    border: none;
    border-radius: 48px;
    background: $white;

    p {
      z-index: 15;
      margin: 0;
      color: $orange;
      transition: all 0.4s;
    }

    &:hover {
      span {
        width: 350px;
        height: 350px;
      }
    }

    @include m($lg) {
      height: 70px;
    }

    @include m($md) {
      height: 56px;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.results {
  @include bg-figure;

  position: relative;
  padding: 160px 0;
  animation: under-left 0.8s;

  &::after {
    left: 0;
    max-width: 1680px;
    border-radius: 0 40px 40px 0;
    background-color: $gray-dark;

    @include m($lg) {
      border-radius: 24px;
    }
  }

  h2 {
    margin-bottom: 24px;
    animation: fade 1.6s;
  }

  p {
    animation: fade 1.8s;
  }

  ul {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 56px;

    li {
      img {
        margin-bottom: 24px;
        min-height: 384px;
        border-radius: 24px;
        object-fit: cover;

        @include m($xl) {
          min-height: 320px;
        }

        @include m($lg) {
          min-height: 280px;
        }

        @include m($md) {
          margin: 0 auto 16px;
          width: 100%;
          max-width: 100%;
        }
      }

      p {
        animation: none;
      }

      p:last-child {
        font-size: 14px;
        line-height: 22px;
      }

      h4 {
        margin-bottom: 8px;
      }

      h6 {
        margin: 24px 0 12px;
      }

      &:first-child {
        animation: fade 1.6s;
      }

      &:nth-child(2) {
        animation: fade 1.8s;
      }

      &:nth-child(3) {
        animation: fade 2s;
      }
    }

    @include m($lg) {
      margin-top: 48px;
    }

    @include m($md) {
      grid-column-gap: 0;
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.ecosystem {
  @include bg-figure;

  position: relative;
  padding: 160px 0;
  animation: under-right 0.8s;

  &::after {
    right: 0;
    max-width: 1680px;
    border-radius: 40px 0 0 40px;
    background-color: $orange;

    @include m($lg) {
      border-radius: 24px;
    }
  }

  h2 {
    margin-bottom: 64px;
    animation: fade 1.6s;

    @include m($xl) {
      margin-bottom: 40px;
    }

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fade 1.8s;

    li {
      max-width: 50%;

      &:first-child {
        margin-right: 80px;

        @include m($lg) {
          margin-right: 0;
        }
      }

      @include m($lg) {
        max-width: 100%;
      }
    }

    img {
      @include m($lg) {
        margin: 32px auto 0;
        max-width: 80%;
      }

      @include m($md) {
        max-width: 100%;
      }
    }

    h4 {
      margin-bottom: 24px;

      @include m($lg) {
        margin-bottom: 16px;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 80px;

      @include m($lg) {
        margin-bottom: 64px;
      }
    }

    &:last-child {
      @include m($lg) {
        flex-direction: column-reverse;
      }
    }

    @include m($lg) {
      flex-direction: column;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.consulting {
  padding-top: 160px;
  animation: fade 1s;

  h2 {
    margin-bottom: 40px;
  }

  ul {
    padding-top: 48px;
    border-top: 1px solid $gray-dark;

    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 48px;
      border-bottom: 1px solid $gray-dark;

      h6 {
        max-width: 384px;

        @include m($lg) {
          margin-bottom: 16px;
          max-width: 100%;
        }
      }

      p {
        margin-left: 30px;
        max-width: 793px;

        @include m($xl) {
          max-width: 620px;
        }

        @include m($lg) {
          margin-left: 0;
          max-width: 100%;
        }
      }

      &:not(:last-child) {
        margin-bottom: 48px;

        @include m($lg) {
          margin-bottom: 24px;
        }
      }

      @include m($lg) {
        flex-direction: column;
        padding-bottom: 24px;
      }
    }

    @include m($lg) {
      padding-top: 24px;
    }
  }

  @include m($xl) {
    padding-top: 120px;
  }

  @include m($lg) {
    padding-top: 80px;
  }
}

.scope {
  position: relative;
  padding: 40px 0 200px;
  overflow: hidden;
  background-color: $black;

  .swiper-slide {
    max-width: 588px;

    @include m(600) {
      max-width: 300px;
    }
  }

  .section__head {
    h2 {
      font-weight: 500;
    }
  }

  .services-block {
    @include m(695) {
      width: 100%;
      max-width: 100%;
    }
  }

  .slime {
    border: 1px solid $gray-medium;

    @include m($md) {
      position: absolute;
      left: 50%;
      bottom: 80px;
      transform: translateX(-50%);
    }
  }

  @include m($xl) {
    padding: 40px 0 150px;
  }

  @include m($lg) {
    padding: 0 0 80px;
  }

  @include m($md) {
    padding: 0 0 176px;
  }
}
