.vacancy-open {
  position: relative;
  padding: 136px 0 160px;
  border-radius: 0 0 40px 40px;
  background: $black;

  &__back {
    position: relative;
    display: block;
    margin-bottom: 40px;
    padding-left: 26px;
    height: 24px;
    font-weight: 600;

    &::before {
      content: url("../images/vac-back.svg");
      position: absolute;
      left: 0;
      top: 50%;
      width: 16px;
      height: 16px;
      font-size: 0;
      line-height: 1;
      transform: translateY(-50%);
    }

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  h1 {
    margin-bottom: 24px;

    @include m($lg) {
      margin-bottom: 20px;
    }
  }

  p {
    margin-bottom: 32px;
    color: $gray;

    @include m($lg) {
      margin-bottom: 20px;
    }
  }

  &__params {
    display: flex;
    margin-bottom: 64px;

    span {
      display: block;
      font-weight: 600;

      + span {
        position: relative;
        margin-left: 48px;

        &::after {
          content: "";
          position: absolute;
          left: -24px;
          top: 0;
          width: 1px;
          height: 100%;
          background-color: $gray-medium;

          @include m($lg) {
            left: -16px;
          }
        }

        @include m($lg) {
          margin-left: 32px;
        }
      }
    }

    @include m($lg) {
      margin-bottom: 56px;
    }
  }

  &__info {
    display: grid;
    grid-gap: 0 24px;
    grid-template-columns: 384px 1fr;

    h4 {
      @include m($md) {
        margin-bottom: 24px;
      }
    }

    ul {
      width: 100%;
      max-width: 792px;

      li {
        position: relative;
        padding-left: 28px;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
          width: 12px;
          height: 12px;
          border-radius: 4px;
          background: $red;
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    + .vacancy-open__info {
      margin-top: 64px;
      padding-top: 64px;
      border-top: 1px solid $gray-dark;

      @include m($lg) {
        margin-top: 48px;
        padding-top: 48px;
      }
    }

    @include m($lg) {
      grid-template-columns: 260px 1fr;
    }

    @include m($md) {
      grid-gap: 0;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    padding: 136px 0 120px;
  }

  @include m($lg) {
    padding: 104px 0 80px;
  }
}