.case {
  position: relative;
  padding: 200px 0 160px;
  border-radius: 0 0 40px 40px;
  background: $black;

  .section__link {
    padding: 0 24px;

    &::after {
      display: none;
    }
  }

  h1 {
    margin-bottom: 41px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    li {
      &:not(:last-child) {
        margin: 0 16px 16px 0;
      }

      .case__active {
        border: 1px solid $orange;
        background-color: $orange;
      }
    }
  }

  .articles {
    display: grid;
    grid-gap: 40px 24px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 56px;
  }

  .button {
    margin: 0 auto;
    border: 1px solid $gray-dark;
    background-color: transparent;
  }
}
