.case-details {
  padding: 160px 0 200px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    animation: fade 0.8s;

    h5 {
      @include m($lg) {
        margin: 56px 0 16px;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;

      @include m($lg) {
        margin-top: 24px;
      }
    }

    ul {
      @include m($lg) {
        margin-top: 24px;
      }
    }

    @include m($lg) {
      flex-direction: column;
    }
  }

  &__info {
    .expert {
      .slime__block {
        p {
          color: $orange !important;
        }
      }
    }

    span {
      display: block;
      margin-top: 56px;
      padding: 40px;
      border-radius: 24px;
      font-weight: 600;
      color: $white;
      background-color: $red;

      @include m($lg) {
        padding: 24px;
      }
    }

    h4 {
      display: block;
      margin-top: 56px;
      padding: 40px;
      border-radius: 24px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      background-color: $orange;

      @include m($lg) {
        padding: 24px;
      }
    }

    h6 {
      position: relative;
      margin-top: 56px;
      padding: 84px 40px;
      border-radius: 24px;
      background: $gray-dark;

      &::after,
      &::before {
        content: url("../images/quote.svg");
        position: absolute;
        width: 32px;
        height: 20px;
        line-height: 1;
      }

      &::before {
        right: 40px;
        bottom: 40px;

        @include m($lg) {
          right: 24px;
          bottom: 24px;
        }
      }

      &::after {
        left: 40px;
        top: 40px;

        @include m($lg) {
          left: 24px;
          top: 24px;
        }
      }

      @include m($lg) {
        padding: 68px 24px;
      }
    }

    ul {
      li {
        position: relative;
        padding-left: 28px;
        color: $gray;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
          width: 12px;
          height: 12px;
          border-radius: 4px;
          background: $red;
        }

        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    ol {
      margin-left: 18px;

      li {
        position: relative;
        padding-left: 12px;
        color: $gray;

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        &::marker {
          height: 16px;
          font-weight: 600;
          font-size: 18px;
          line-height: 1;
          letter-spacing: -0.04em;
          color: $white;
        }
      }
    }
  }

  .expert {
    margin-top: 56px;
    padding: 0;

    &__wrapper {
      max-width: 894px;
    }

    h5 {
      margin: 0;
    }

    &__head {
      max-width: 430px;
    }
  }

  @include m($xl) {
    padding: 120px 0 150px;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.case-preview {
  .preview__inner {
    @include m($lg) {
      padding-bottom: 20px;
    }
  }
}

.case__navigation {
  @include m($lg) {
    margin-bottom: 64px;
  }
}

.case__navigation-list {
  li {
    &:not(:last-child) {
      @include m($lg) {
        margin-bottom: 16px;
      }
    }
  }

  @include m($lg) {
    margin-bottom: 24px;
  }
}