.case {
  position: relative;
  padding: 200px 0 160px;
  border-radius: 0 0 40px 40px;
  background: $black;
  animation: fade 0.8s;

  .section__link {
    padding: 0 24px;

    &::after {
      display: none;
    }
  }

  h1 {
    margin-bottom: 41px;

    @include m($xl) {
      margin-bottom: 30px;
    }

    @include m($lg) {
      margin-bottom: 16px;
    }
  }

  .container__list {
    .article__element {
      border: 1px solid $gray-medium;
    }

    @include m($sm) {
      padding: 0 0 0 16px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    li {
      &:not(:last-child) {
        margin: 0 16px 16px 0;

        @include m($sm) {
          margin: 0 16px 8px 0;
        }
      }

      .case__active {
        border: 1px solid $orange;
        background-color: $orange;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .article__element {
      &:hover {
        border: 1px solid $orange;
      }
    }

    @include m($sm) {
      flex-wrap: nowrap;
      margin-bottom: 32px;
      overflow: scroll;
    }
  }

  .articles {
    display: grid;
    grid-gap: 40px 24px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 56px;

    @include m(830) {
      grid-gap: 40px 20px;
      grid-template-columns: 1fr 1fr;
    }

    @include m($lg) {
      margin-bottom: 40px;
    }

    @include m($sm) {
      grid-gap: 40px 0;
      grid-template-columns: 1fr;
    }
  }

  .button {
    margin: 0 auto;
    border: 1px solid $gray-dark;
    background-color: transparent;
  }

  @include m($xl) {
    padding: 150px 0 120px;
  }

  @include m($lg) {
    padding: 104px 0 80px;
  }
}
