.error {
  position: relative;
  overflow: hidden;

  &::before {
    content: url("../images/services-decor.svg");
    position: absolute;
    left: 0;
    top: -5%;
    z-index: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 800px;
    background: $black;
    background-color: transparent;

    &::before {
      left: 0;
      top: 25%;
      width: 700px;
      height: 700px;
      background-color: $red;
      filter: blur(150px);
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
    }

    &::after {
      content: "";
      left: 35%;
      top: 25%;
      width: 700px;
      height: 700px;
      background-color: $orange;
      filter: blur(150px);
    }
  }

  &__title {
    z-index: 10;
    display: flex;

    span {
      display: block;
      width: 192px;
      font-size: 304px;
      line-height: 456px;
      letter-spacing: -0.04em;
    }

    img {
      padding: 0 40px;
    }
  }

  &__text {
    z-index: 10;

    h4 {
      margin-bottom: 24px;
      max-width: 285px;
    }

    .button {
      padding: 0 32px;
      height: 56px;
      color: $orange;
      background-color: $white;
    }
  }
}