.top {
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  &__link {
    position: absolute;
    left: 50%;
    bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    transform: translateX(-50%);

    p {
      margin-left: 12px;
      font-size: 12px;
      line-height: 20px;
    }
  }

  h1 {
    max-width: 800px;
    text-align: center;
    text-transform: uppercase;
  }
}

.do {
  padding: 200px 0;

  h6 {
    margin-bottom: 24px;
  }

  ul {
    li {
      display: flex;
      height: 200px;
      border-radius: 24px;
      background-color: $orange;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    .do__main {
      position: relative;
      z-index: 5;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 40px;
      width: 100%;
      max-width: 588px;
      overflow: hidden;
      border-radius: 24px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 100%);
      }

      h5 {
        z-index: 5;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .do__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 40px;

      img {
        margin-bottom: 16px;
        width: 32px;
        height: 32px;
      }

      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

.trusted {
  padding: 120px 0;
  background-color: $gray-dark;

  ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 0 24px;
    animation: trusted 9s linear infinite;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 -24px;
      width: 100%;
      height: 298px;
      min-width: 298px;
      border-style: solid;
      border-width: 1px;
      border-color: rgba($white, 0.24);
      border-radius: 50%;
    }
  }
}

.company {
  padding: 120px 0;
  background-image: url("../images/company.svg");
  background-position: top left -200px;
  background-size: cover;
  background-repeat: no-repeat;

  .section__head {
    margin-bottom: 90px;
  }

  &__list {
    display: grid;
    grid-gap: 48px 24px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    max-width: 588px;

    li {
      width: 100%;
      max-width: 180px;
    }

    h3 {
      margin-bottom: 4px;
    }
  }
}

.studies {
  position: relative;
  padding: 200px 0;
  border-radius: 0 0 40px 40px;
  background-color: $gray-dark;

  .section__head {
    margin-bottom: 48px;

    h2 {
      font-weight: 500;
    }
  }

  .section__link {
    border: 1px solid $gray-medium;
  }
}

.touch {
  margin-top: -40px;
  padding: 160px 0 120px;
  background-image: linear-gradient(252.56deg, #6c57ff 26.71%, #ff5366 149.39%);

  h2 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.04em;
  }

  h4 {
    margin-bottom: 72px;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.04em;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__country {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
  }

  &__tel {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
  }

  &__topic {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .form {
    width: 100%;
    max-width: 792px;
  }
}

@keyframes trusted {
  0% {
    transform: translateX(-3%);
  }

  to {
    transform: translateX(-163%);
  }
}

.swiper {
  margin-right: -34%;
}
