.services {
  position: relative;
  padding: 160px 0;
  border-radius: 0 0 40px 40px;
  background-color: $black;
  animation: fade 0.8s;

  h2 {
    margin-bottom: 40px;
    animation: fade 0.8s;

    @include m($xl) {
      margin-bottom: 30px;
    }

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
    border-radius: 0 0 24px 24px;
  }
}

.services__list {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  animation: fade 0.8s;

  &:not(:last-child) {
    margin-bottom: 160px;

    @include m($xl) {
      margin-bottom: 110px;
    }

    @include m($lg) {
      margin-bottom: 56px;
    }
  }

  .services-block {
    &:first-child {
      animation: fade 0.8s;
    }

    &:nth-child(2) {
      animation: fade 1s;
    }

    &:nth-child(3) {
      animation: fade 0.6s;
    }

    &:nth-child(4) {
      animation: fade 0.8s;
    }

    &:nth-child(5) {
      animation: fade 0.6s;
    }

    &:nth-child(6) {
      animation: fade 0.8s;
    }

    &:nth-child(7) {
      animation: fade 0.6s;
    }

    &:nth-child(8) {
      animation: fade 0.8s;
    }

    @include m($md) {
      max-width: 100%;
    }
  }

  @include m($md) {
    grid-column-gap: 0;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
  }
}

.services__list-orange {
  li {
    background-color: $red !important;
  }

  .link__service {
    span {
      background-color: $red;
    }

    svg {
      path {
        stroke: $red;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $white;
        }
      }
    }
  }

  .services-block {
    &::after {
      background-color: $red;
    }
  }
}