.strategy {
  padding-top: 160px;
  animation: fade 0.8s;

  &__img-black {
    display: block;
  }

  &__img-white {
    display: none;
  }

  h2 {
    margin-bottom: 42px;

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  ul {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      img {
        margin-bottom: 24px;
        width: 48px;
        height: 48px;

        @include m($lg) {
          margin-bottom: 16px;
        }
      }

      h6 {
        margin-bottom: 24px;

        @include m($lg) {
          margin-bottom: 16px;
        }
      }

      p {
        font-size: 14px;
        line-height: 22px;
      }
    }

    @include m($md) {
      grid-column-gap: 0;
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    padding-top: 120px;
  }

  @include m($lg) {
    padding-top: 80px;
  }
}

.expertise {
  position: relative;
  z-index: 10;
  padding: 160px 0;
  animation: fade 1s;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    border-radius: 40px;
    background-color: $orange;
    transform: translateX(-50%);

    @include m($lg) {
      border-radius: 24px;
    }
  }

  h2 {
    margin-bottom: 40px;

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  ul {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    li {
      padding-top: 16px;
      border-top: 2px solid $white;

      h6 {
        margin-bottom: 16px;
      }

      p {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    @include m($lg) {
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      grid-template-columns: 1fr 1fr;
    }

    @include m(680) {
      grid-column-gap: 0;
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.models {
  padding-top: 160px;
  animation: fade 0.8s;

  h2 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 60px;
    color: $gray;

    @include m($xl) {
      margin-bottom: 45px;
    }

    @include m($lg) {
      margin-bottom: 32px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include m($lg) {
      flex-direction: column;
    }
  }

  &__img {
    margin: 0 30px 0 0;
    width: 588px;
    height: 588px;
    overflow: hidden;
    border-radius: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include m(1250) {
      width: 500px;
      height: 500px;
    }

    @include m(1100) {
      width: 400px;
      height: 400px;
    }

    @include m($lg) {
      margin: 0 auto 24px;
      border-radius: 16px;
    }

    @include m(550) {
      width: 100%;
      height: auto;
    }
  }

  .panel-group {
    margin-bottom: 0;
    width: 100%;
    max-width: 486px;

    @include m($lg) {
      max-width: 100%;
    }
  }

  .panel-title {
    font-size: 24px;
    line-height: 32px;

    @include m($xl) {
      font-size: 20px;
      line-height: 28px;
    }

    @include m($lg) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .panel-heading {
    padding: 0;
    border: none;
    border-radius: 0;
    color: inherit;
    background-color: transparent;
  }

  .accordion-toggle {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    border-top: 1px solid $orange;
    transition: all 0.3s;

    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      transition: all 0.3s;

      path {
        stroke: $orange;
      }

      rect {
        stroke: $orange;
      }
    }

    @include m($lg) {
      height: 76px;
    }
  }

  .accordion-toggle.collapsed {
    border-top: 1px solid $gray-dark;

    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(0);

      path {
        stroke: $white;
      }

      rect {
        stroke: $gray-dark;
      }
    }
  }

  .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;

    + .panel {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: 1px solid $gray-dark;
    }
  }

  .panel-body {
    margin: 0;
    padding: 0;
    border: none !important;

    &::before,
    &::after {
      display: none;
    }

    p {
      margin: 0 0 16px;
      font-size: 14px;
      line-height: 22px;
    }

    ul {
      display: flex;
      margin-bottom: 24px;

      img {
        width: 72px;
        height: 72px;
      }

      li {
        &:not(:last-child) {
          margin-right: 24px;

          @include m($lg) {
            margin-bottom: 4px;
          }
        }
      }

      @include m($lg) {
        flex-wrap: wrap;
        margin-bottom: 26px;
      }
    }
  }

  @include m($xl) {
    padding-top: 120px;
  }

  @include m($lg) {
    padding-top: 80px;
  }
}

.platform {
  @include bg-figure;

  position: relative;
  padding: 160px 0;
  animation: under-right 0.8s;

  &::after {
    right: 0;
    max-width: 1680px;
    border-radius: 40px 0 0 40px;
    background-color: $gray-dark;

    @include m($lg) {
      border-radius: 24px;
    }
  }

  &__img-black {
    display: block;
  }

  &__img-white {
    display: none;
  }

  h2 {
    margin-bottom: 40px;
    animation: fade 1.6s;

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  ul {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr;

    li {
      padding: 40px;
      border-radius: 24px;
      background: $black;

      img {
        margin-bottom: 24px;
      }

      &:first-child {
        animation: fade 1.4s;
      }

      &:nth-child(2) {
        animation: fade 1.6s;
      }

      @include m($lg) {
        padding: 24px;
      }
    }

    p {
      margin-bottom: 16px;
    }

    @include m($lg) {
      grid-column-gap: 0;
      grid-row-gap: 24px;
      grid-template-columns: 1fr;
    }
  }

  .link__service {
    border: 1px solid transparent;
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.options {
  padding: 160px 0;
  animation: fade 0.8s;

  h2 {
    margin-bottom: 40px;
    animation: fade 1s;

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  ul {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr;

    li {
      display: flex;
      flex-direction: column;
      padding: 40px;
      min-height: 464px;
      border-radius: 24px;
      background: $gray-dark;

      p {
        margin-bottom: 16px;
      }

      h5 {
        margin-bottom: 16px;
      }

      &:first-child {
        animation: fade 1s;
      }

      &:nth-child(2) {
        animation: fade 1.2s;
      }

      &:nth-child(3) {
        animation: fade 1s;
      }

      &:nth-child(4) {
        animation: fade 1.2s;
      }

      &:nth-child(5) {
        animation: fade 1s;
      }

      &:nth-child(6) {
        animation: fade 1.2s;
      }

      @include m($lg) {
        padding: 24px;
      }

      @include m($md) {
        min-height: 324px;
      }
    }

    @include m($md) {
      grid-column-gap: 0;
      grid-row-gap: 24px;
      grid-template-columns: 1fr;
    }
  }

  .logos-roll {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: none;
    margin: 0 0 12px;

    img {
      width: 72px;
      height: 72px;
    }

    li {
      padding: 0;
      width: 72px;
      height: 72px;
      min-height: 72px;
      border-radius: 0;
      background: transparent;

      &:not(:last-child) {
        margin-right: 24px;
        margin-bottom: 4px;
      }
    }
  }

  @include m($xl) {
    padding: 120px 0;
  }

  @include m($lg) {
    padding: 80px 0;
  }
}

.micro {
  @include bg-figure;

  position: relative;
  margin-bottom: 160px;
  padding: 160px 0;
  animation: under-left 0.8s;

  &::after {
    left: 0;
    max-width: 1680px;
    border-radius: 0 40px 40px 0;
    background-color: $gray-dark;

    @include m($lg) {
      border-radius: 24px;
    }
  }

  &__info {
    width: 100%;
    max-width: 486px;

    @include m($md) {
      margin-bottom: 32px;
      max-width: 100%;
    }
  }

  ul {
    h2 {
      margin-bottom: 40px;

      @include m($xl) {
        margin-bottom: 30px;
      }

      @include m($lg) {
        margin-bottom: 16px;
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      animation: fade 1.8s;

      &:not(:last-child) {
        margin-bottom: 80px;

        @include m($lg) {
          margin-bottom: 64px;
        }
      }

      &:first-child {
        .micro__info {
          margin-right: 30px;

          @include m($lg) {
            margin-right: 15px;
          }

          @include m($md) {
            margin-right: 0;
          }
        }
      }

      &:last-child {
        .micro__info {
          margin-left: 30px;

          @include m($lg) {
            margin-left: 15px;
          }

          @include m($md) {
            margin-left: 0;
          }
        }

        @include m($md) {
          flex-direction: column-reverse;
        }
      }

      @include m($md) {
        flex-direction: column;
      }
    }

    img {
      max-width: 588px;
      border-radius: 24px;
      object-fit: cover;

      @include m($xl) {
        max-width: 460px;
      }

      @include m($lg) {
        max-width: 350px;
        border-radius: 14px;
      }

      @include m($sm) {
        max-width: 100%;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  .logos-roll {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    animation: fade 1.2s;

    li {
      &:not(:last-child) {
        margin: 0;

        @include m($xl) {
          margin: 0 24px 0 0;
        }

        @include m($md) {
          margin: 0 19px 16px;
        }

        @include m($sm) {
          margin: 0 10px 16px;
        }

        @include m(375) {
          margin: 0 10px 5px;
        }
      }

      &:last-child {
        @include m($md) {
          margin: 0 19px 16px;
        }

        @include m($sm) {
          margin: 0 10px 16px;
        }

        @include m(375) {
          margin: 0 10px 5px;
        }
      }
    }

    img {
      width: 116px;
      height: 116px;

      @include m($xl) {
        width: 80px;
        height: 80px;
      }

      @include m($lg) {
        width: 56px;
        height: 56px;
      }
    }

    @include m($lg) {
      margin-top: 32px;
    }

    @include m($md) {
      flex-wrap: wrap;
      justify-content: center;
      margin: 32px auto 0;
    }

    @include m($sm) {
      justify-content: space-between;
    }
  }

  @include m($xl) {
    margin-bottom: 120px;
    padding: 120px 0;
  }

  @include m($lg) {
    margin-bottom: 80px;
    padding: 80px 0;
  }

  @include m($md) {
    padding: 80px 0 64px;
  }

  @include m(375) {
    padding: 80px 0 75px;
  }
}

.expertise--second {
  h2 {
    margin-bottom: 24px;

    @include m($lg) {
      margin-bottom: 16px;
    }
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;

    @include m($md) {
      grid-column-gap: 0;
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
    }
  }
}

.expertise--extras {
  padding: 160px 0 0;

  &::before {
    display: none;
  }

  .relate__text {
    margin-top: 16px;
  }

  p {
    color: $gray;
  }

  h2 {
    margin-bottom: 24px;

    @include m($lg) {
      margin-bottom: 16px;
    }
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;

    li {
      border-top: 2px solid $gray-dark;
    }

    @include m($md) {
      grid-column-gap: 0;
      grid-row-gap: 24px;
      grid-template-columns: 1fr;
    }
  }

  @include m($xl) {
    padding: 120px 0 0;
  }

  @include m($lg) {
    padding: 80px 0 0;
  }
}