.terms {
  position: relative;
  padding: 200px 0 184px;
  border-radius: 0 0 40px 40px;
  background: $black;

  h1 {
    margin-bottom: 80px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
    max-width: 894px;

    h3 {
      margin: 56px 0 24px;
      padding-top: 56px;
      border-top: 1px solid $gray-dark;

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }

    p {
      margin-bottom: 24px;
      color: $gray;
    }

    h5 {
      margin: 56px 0 24px;
    }
  }
}

.terms__navigation {
  position: sticky;
  top: 20px;
  width: 100%;
  height: fit-content;
  max-width: 200px;

  span {
    display: flex;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 22px;
    color: $gray;
  }
}

.second-span {
  padding-top: 24px;
  border-top: 1px solid $gray-dark;
}

.terms__navigation-list {
  margin-bottom: 24px;

  li {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    a {
      display: block;
      font-weight: 600;
    }
  }
}

.terms__navigation-social {
  display: flex;

  svg {
    fill: transparent;
    transition: fill 0.3s;

    circle {
      transition: stroke 0.3s;
    }

    path {
      transition: fill 0.3s;
    }
  }

  a {
    display: flex;
    align-items: center;
  }

  li {
    + li {
      margin-left: 12px;
    }

    &:hover {
      svg {
        fill: $white;

        circle {
          stroke: $white;
        }

        path {
          fill: $black;
        }
      }
    }

    &:last-child:hover {
      svg {
        fill: $white;

        circle {
          stroke: $white;
        }

        path {
          fill: transparent;
          stroke: $black;
        }
      }
    }
  }
}