@mixin m($width) {
  @media only screen and (max-width: $width + "px") {
    @content;
  }
}

@mixin h($width) {
  @media only screen and (max-height: $width + "px") {
    @content;
  }
}

@mixin bg-figure {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    @include m(1920) {
      max-width: 1680px !important;
    }

    @include m($lg) {
      border-radius: 24px !important;
    }
  }
}

@mixin relate {
  span {
    position: absolute;
    z-index: 0;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $orange;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  }
}